<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('nav.ejs') %>
  <!-- <%= JSON.stringify(result) %> -->
  <div>
    <h3><%= result.title %></h3>
    <p><%= result.content %></p>
    <% if(result.image){ %>
    <img src="<%= result.image %>" alt="">
    <% } %>
  </div>
</body>
</html>
<!-- 추가해야하는 기능
1. 로그인 되어있는지
2. 로그인이 안되어있으면 글만보이기
3. 로그인이 되어있으면 수정버튼 삭제버튼 보이기 
4. 글에 추천기능 만들기 
5. 로그인이 안되어있으면 추천 누를시 로그인해야한다고 알림창 후 로그인창 안내
6. 로그인이 되어있으면 db에 있는 추천+1 (새로고침이 되면 이상할거같으니 ajax)
7. 글에 댓글기능 만들기
8. 로그인이 안되어있으면 댓글 누를시 로그인해야한다고 알림창 후 로그인창 안내
9. 로그인이 되어있으면 db에 댓글 저장
10. 대댓글은 공부




-->